<div class="container">
<nav class='navbar navbar-default' role='navigation'>
<ul class='nav navbar-nav'>
	<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
	<li>{{#link-to 'about'}}About{{/link-to}}</li>
	<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
	</ul>
</nav>
<h1>Contact</h1>

<p>Want to get in touch?</p>
	<ul>
		<li>Phone: 12354676236</li>
		<li>Email:ashfg@dracula.com</li>

	</ul>
</div>